<h1>Contacts - <%= link_to 'Create New Contact', new_person_path %></h1>

<% if @persons.any? %>

    <% @persons.each do |person|%>
        <h6>
            <%= link_to person.first_name + ' ' + person.last_name, person_path(person)  %>
        </h6>
    <% end %>
<% else %>
    <h4>No Contacts, Please Add One!</h4>
<% end %>


